In [2]:
#creating a series
import pandas as pd

In [12]:
s2 = pd.Series([23,432,54,65,67], index = ["ahned","cat","faheem","dune","reshi"] , name  = "bhai")
s2["faheem"]

np.int64(54)

In [16]:
df  = pd.DataFrame({"name":["zaid","ibad","wasay"],"rollno":[109,58,111],"dpt":["ai","cs","cse"]})
df

    name  rollno  dpt
0   zaid     109   ai
1   ibad      58   cs
2  wasay     111  cse

In [17]:
df.values

array([['zaid', 109, 'ai'],
       ['ibad', 58, 'cs'],
       ['wasay', 111, 'cse']], dtype=object)

In [18]:
df.index

RangeIndex(start=0, stop=3, step=1)